<% if (comments !== null) {
    for(var i = 0; i < comments.length; i++) {%>
<h4>작성자 :
    <%=comments[i].authorInfo.name%>
</h4>
<h4>내용 :
    <%=comments[i].contents%>
</h4>
    <% if (user.id === comments[i].authorInfo.id) { %>
        <form action="/modify/comment/<%=comments[i].id%>" method="get">
            <input type="submit" class="btn btn-default pull-right" value="수정">
        </form>
        <form action="/delete/comment?_method=DELETE" method="POST">
            <input type="hidden" name="commentId" value="<%=comments[i].id%>" />
            <input type="submit" onclick="return confirm('삭제하시겠습니까?')" class="btn btn-default pull-right" value="삭제">
        </form>
    <% } %>
<br>
<hr>
<%}}%>