<% if(user.userType === "Guest") { %>
<h3 style="background-color:#eeeeee; text-align: center;">댓글 작성은 회원만 가능합니다.</h3>
<% } else { %>
<form action="/publish/comment" method="post">
    <table class="table table-striped" style="text-align: center">
        <thead>
            <tr>
                <th colspan="1" style="background-color:#eeeeee; text-align: center;">댓글 작성</th>
            </tr>
        </thead>
        <tbody>
            <input type="hidden" name="postId" value="<%=post.id%>">
            <tr>
                <td><textarea class="form-control" placeholder="댓글 내용" name="contents" maxlength="2048" style="height:50px"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="btn btn-primary pull-right" value="확인">
</form>
<% } %>