<table class="table table-hover table-striped">
    <thead>
        <tr class="text-center"><strong>내가 쓴 댓글</strong></tr>
        <tr>
            <th class="text-center">내용</th>
            <th class="text-center">날짜</th>
            <th class="text-center">추천수</th>
        </tr>
    </thead>
    <tbody>
        <% if(comments.length > 0) { %>
            <% comments.forEach(function(item) { %>
                <tr>
                    <td class="text-center"><a href="/board/mycomments/<%=item.postInfo._id%>"><%=item.contents%></a></td>
                    <td class="date text-center text-muted" ><small><%=moment(item.date).format('MM/DD HH:mm')%></small></td>
                    <td class="viewed text-center"><%=item.upVotes%></td>
                    </tr>
                <% }) %>
            <% } %>
    </tbody>
</table>