<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">휴지통</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">홈</a></li>
                    <li><a href="/board/best">베스트</a></li>
                    <li><a href="/board/free">자유</a></li>
                    <li><a href="/board/IT">IT</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">3<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">3-1번 메뉴</a></li>
                            <li><a href="#">3-2번 메뉴</a></li>
                            <li><a href="#">3-3번 메뉴</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">네비게이션 헤더</li>
                            <li><a href="#">3-4번 메뉴</a></li>
                            <li><a href="#">3-5번 메뉴</a></li>                            
                        </ul>
                    </li>
                </ul>
                <% if(user.userType==="Guest") { %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signup">회원가입</a></li>
                    <li><a href="/login">로그인</a></li>                    
                </ul>
                <% } else { %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>안녕하세요 <%=user.name%>님!</a></li>
                    <li><a href="/">회원정보</a></li>
                    <li><a href="/logout">로그아웃</a></li>                    
                </ul>
                <% } %>
            </div>           
        </div>
    </nav>
</div>